<style>
    .recharge_info{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px;
    }
    .recharge_info>div{
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        border:1px solid #efefef;
        margin: 0 10px;
        padding:10px 22px;
        line-height: 25px;
        color: #333;
    }
</style>
<form action="" method="post" class="form-horizontal form-validate" enctype="multipart/form-data">

    <input type="hidden" name="c" value="site" />
    <input type="hidden" name="a" value="entry" />
    <input type="hidden" name="m" value="wx_shop" />
    <input type="hidden" name="do" value="web" />
    <input type="hidden" name="r" value="finance.recharge" />
    <input type='hidden' name='type' value="{$type}" />
    <input type='hidden' name='id' value="{$id}" />


    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">会员充值</h4>
            </div>
            <div class="modal-body">



                <div class="recharge_info">
                    <div>
                        <label class="pull-left" style="margin-right: 25px">粉丝</label>
                        <div class="pull-left">
                            <img class="radius50" src='{$profile['avatar']}' style='width:20px;height:20px;padding:1px;border:1px solid #ccc' onerror="this.src='../addons/wx_shop/static/images/noface.png'"/>
                            {$profile['nickname']}
                        </div>
                    </div>
                    <div>
                        <label class="pull-left " style="margin-right: 25px">会员信息</label>
                            <div class="pull-left">
                                ID: {$profile['id']}</br>
                                姓名: {$profile['realname']}</br>
                                手机号: {$profile['mobile']}
                            </div>
                    </div>

                </div>
                <div class="tabs-container">

                    <div class="tabs">
                        <ul class="nav nav-tabs">
                          <!--   {ifp 'finance.recharge.credit1'}
                            <li {if $type=='credit1'}class="active"{/if}><a data-toggle="tab" href="#tab-1" data-rechargetype="credit1" aria-expanded="true"> 充值积分</a></li>
                            {/if} -->

                            <!-- {ifp 'finance.recharge.credit2'}
                            <li {if $type=='credit2'}class="active"{/if}><a data-toggle="tab" href="#tab-2"  data-rechargetype="credit2" aria-expanded="false"> 充值余额</a></li>
                            {/if} -->


                            {ifp 'finance.recharge.jinbi'}
                            <li {if $type=='jinbi'}class="active"{/if}><a data-toggle="tab" href="#tab-3"  data-rechargetype="jinbi" aria-expanded="true"> 充值金币</a></li>
                            {/if}

                             {ifp 'finance.recharge.credit_red'}
                            <li {if $type=='credit_red'}class="active"{/if}><a data-toggle="tab" href="#tab-4"  data-rechargetype="credit_red" aria-expanded="false"> 充值红包</a></li>
                            {/if}

                            {ifp 'finance.recharge.credit_b'}
                            <li {if $type=='credit_b'}class="active"{/if}><a data-toggle="tab" href="#tab-5"  data-rechargetype="credit_b" aria-expanded="false"> 充值彩蛋币</a></li>
                            {/if}


                            {ifp 'finance.recharge.dzp'}
                            <li {if $type=='dzp'}class="active"{/if}><a data-toggle="tab" href="#tab-6"  data-rechargetype="dzp" aria-expanded="false"> 充值大转盘券</a></li>
                            {/if}

                             {ifp 'finance.recharge.qd_num'}
                            <li {if $type=='qd_num'}class="active"{/if}><a data-toggle="tab" href="#tab-7"  data-rechargetype="qd_num" aria-expanded="false"> 充值敲蛋次数</a></li>
                            {/if}

                             {ifp 'finance.recharge.yqq'}
                            <li {if $type=='yqq'}class="active"{/if}><a data-toggle="tab" href="#tab-8"  data-rechargetype="yqq" aria-expanded="false"> 充值邀请券</a></li>
                            {/if}


                        </ul>
                        <div class="tab-content ">
                            <!-- <div id="tab-1" class="tab-pane {if $type=='credit1'}active{/if}">
                                <div class="form-group"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">当前积分</label>
                                    <div class="col-sm-9 col-xs-12">
                                        <div class="form-control-static">{$profile['credit1']}</div>
                                    </div>
                                </div>

                            </div> -->
                           <!--  <div id="tab-2" class="tab-pane {if $type=='credit2'}active{/if}">

                                <div class="form-group"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">当前余额</label>
                                    <div class="col-sm-9 col-xs-12">
                                        <div class="form-control-static">{$profile['credit2']}</div>
                                    </div>
                                </div>


                            </div> -->

                             <div id="tab-3" class="tab-pane {if $type=='jinbi'}active{/if}">

                                <div class="form-group"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">当前金币</label>
                                    <div class="col-sm-9 col-xs-12">
                                        <div class="form-control-static">{$profile['jinbi']}</div>
                                    </div>
                                </div>


                            </div>

                            <div id="tab-4" class="tab-pane {if $type=='credit_red'}active{/if}">

                                <div class="form-group"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">当前红包</label>
                                    <div class="col-sm-9 col-xs-12">
                                        <div class="form-control-static">{$profile['credit_red']}</div>
                                    </div>
                                </div>


                            </div>

                            <div id="tab-5" class="tab-pane {if $type=='credit_b'}active{/if}">

                                <div class="form-group"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">当前彩蛋币</label>
                                    <div class="col-sm-9 col-xs-12">
                                        <div class="form-control-static">{$profile['credit_b']}</div>
                                    </div>
                                </div>


                            </div>

                            <div id="tab-6" class="tab-pane {if $type=='dzp'}active{/if}">
                                <div class="form-group"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">当前大转盘券</label>
                                    <div class="col-sm-9 col-xs-12">
                                        <div class="form-control-static">{$profile['dzp']}</div>
                                    </div>
                                </div>
                            </div>

                            <div id="tab-7" class="tab-pane {if $type=='qd_num'}active{/if}">
                                <div class="form-group"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">当前敲蛋次数</label>
                                    <div class="col-sm-9 col-xs-12">
                                        <div class="form-control-static">{$profile['qd_num']}</div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-8" class="tab-pane {if $type=='yqq'}active{/if}">
                                <div class="form-group"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">当前邀请券</label>
                                    <div class="col-sm-9 col-xs-12">
                                        <div class="form-control-static">{$profile['yqq']}</div>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">变化</label>
                    <div class="col-sm-9 col-xs-12">
                        <label class='radio-inline'>
                            <input type='radio' name='changetype' value='0' checked /> 增加
                        </label>
                        <label class='radio-inline'>
                            <input type='radio' name='changetype' value='1' /> 减少
                        </label>
                        <label class='radio-inline'>
                            <input type='radio' name='changetype' value='2' /> 最终<span class='name'>{if $type=='jinbi'}金币
                            {elseif $type=='credit_red'}红包
                            {elseif $type=='credit_b'}彩蛋币
                            {elseif $type=='dzp'}大转盘券
                            {elseif $type=='qd_num'}敲蛋次数
                            {elseif $type=='yqq'}邀请券

                            {/if}</span>
                            <!-- <input type='radio' name='changetype' value='2' /> 最终<span class='name'>{if $type=='credit1'}积分{else}余额{/if}</span> -->
                        </label>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label mustl">充值数目</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="num" class="form-control" value="" data-rule-number='true' data-rule-required='true' data-rule-min='0.01' />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">备注</label>
                    <div class="col-sm-9 col-xs-12">
                        <textarea name="remark" class="form-control richtext" cols="70"></textarea>
                    </div>
                </div>

            </div> <div class="modal-footer">
            <button class="btn btn-primary btn-submit" type="submit">确认充值</button>
            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
        </div>
        </div>
    </div>

</form>
<script language='javascript'>
    $(function(){
        $('[data-toggle="tab"]').click(function(){
            var type =$(this).data('rechargetype');
            if(type=='credit1') {
                $('.name').html('积分');
                $(".btn-submit").text('确认充值积分');
            }else if(type=='credit2'){
                $('.name').html('余额');
                $(".btn-submit").text('确认充值余额');
            }else if(type=='jinbi'){
                $('.name').html('金币');
                $(".btn-submit").text('确认充值金币');
            }else if(type=='credit_red'){
                $('.name').html('红包');
                $(".btn-submit").text('确认充值红包');
            }else if(type=='credit_b'){
                $('.name').html('彩蛋币');
                $(".btn-submit").text('确认充值彩蛋币');
            }else if(type=='dzp'){
                $('.name').html('大转盘券');
                $(".btn-submit").text('确认充值大转盘券');
            }else if(type=='qd_num'){
                $('.name').html('敲蛋次数');
                $(".btn-submit").text('确认充值敲蛋次数');
            }else if(type=='yqq'){
                $('.name').html('邀请券');
                $(".btn-submit").text('确认充值邀请券');
            }

            $(':hidden[name=type]').val( type) ;
        });

    })
</script>

<!--efwww_com-->